.root{

    -fx-background-image: url('../fondos/fondoinfantil.jpg');
    -fx-background-size: cover;
    -fx-font-family:"arial";
    -fx-font-size: 16px;

    }

Button {
    -fx-background-color: #9666F4;
    -fx-border-color:#33F243;
    -fx-border-width: 3;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight:bold;
    -fx-font-size: 15px;
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}

#tfTiempo{
    -fx-background-color: #00DCC3;
    -fx-text-fill: #3535E6;  /*  color de la fuente*/
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;

}