.root{
    -fx-background-color:#7fb3d5;
    -fx-background-image: url('C:\Users\a14manuelalv\2DAM\DI\2eva\Tarea01JavaFX\src\main\resources\neutra\1.jpg');
    -fx-font-family:"serif";
    -fx-font-size: 18px;

    }