@font-face {
font-family: 'Terror';
src: url('file:src/main/resources/com/example/tarea01javafx/fonts/BLOODY.TTF');

}


.root{

    -fx-background-image: url('../fondos/fondoterror.jpg');
    -fx-background-size: cover;
    -fx-font-family:"arial";
    -fx-font-size: 16px;

}

Button {
    -fx-background-color: #0e0e0e;
    -fx-border-color:#e6f1f9;
    -fx-text-fill: #e6f1f9;
    -fx-border-width: 3;
    -fx-font-family: 'BLOODY';
    -fx-font-weight:bold;
    -fx-font-size: 30px;
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}

#tfTiempo{
    -fx-background-color: #fddd07;
    -fx-text-fill: #0e0e0e;  /*  color de la fuente*/
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;

}